<div class="main">
    <div>
        <div>
            <i class="fa-solid fa-mobile-screen-button"></i>
            <h6>{{phoneNo}}</h6>
        </div>
        <div>
            <i class="fas fa-envelope"></i>
            <h6>{{email}}</h6>
        </div>
    </div>
    <div>
        <div>
            <i class="fa-solid fa-globe"></i>
            <h6>{{language}}</h6>
        </div>
        <div>
            <div>|</div>
        <h6>welcome, {{name}}</h6>
        <i class="fa-solid fa-chevron-down"></i>
        </div>
        
    </div>
</div>